.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.link-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: lightsteelblue;
}

.link {
    margin: 10px;
    padding: 10px;
    max-width: 90px;
    text-decoration: none;
    color: black;
}